body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#twitter-widget-0 {
  min-width:100% !important;
  max-width:100% !important;
}

.col-sm-4 {
  max-width:100% !important;
}

/* Smartphones ----------- */
@media only screen
and (max-width : 320px) {
    body {
  	background: 
  	  url(https://ghpages.s3.amazonaws.com/2013-03-23-13.40.20_reduced_size.jpg)
  	  no-repeat
  	  left 
  	  top
  	  fixed;
    }
}

/* Smartphones ----------- */
@media only screen
and (min-width : 321px)
and (max-width: 480px) {
    body {
  	background: 
  	  url(https://ghpages.s3.amazonaws.com/2013-03-23-13.40.20_reduced_size.jpg)
  	  no-repeat
  	  left
  	  top
  	  fixed;
    }
}

/* Smartphones ----------- */
@media only screen
and (min-width : 481px)
and (max-width: 768px) {
    body {
  	background: 
  	  url(https://ghpages.s3.amazonaws.com/2013-03-23-13.40.20_reduced_size.jpg)
  	  no-repeat
  	  left
  	  top
  	  fixed;
  	  -webkit-background-size: cover;
  	  -moz-background-size: cover;
  	  -o-background-size: cover;
  	  background-size: cover;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 769px)
and (max-device-width : 1024px) {
    body {
  	background: 
  	  url(https://ghpages.s3.amazonaws.com/2013-03-23-13.40.20_reduced_size.jpg)
  	  no-repeat
  	  left
  	  top
  	  fixed;
    }
}

/* desktops ----------- */
@media only screen
and (min-device-width : 1025px) {
    body {
  	background: 
	  url(https://ghpages.s3.amazonaws.com/2013-03-23-11.01.22_reduced.jpg)
  	  no-repeat
  	  center
  	  center
  	  fixed;
  	  -webkit-background-size: cover;
  	  -moz-background-size: cover;
  	  -o-background-size: cover;
  	  background-size: cover;
    }
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
