body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#twitter-widget-0 {
  min-width:100% !important;
  max-width:100% !important;
}

.col-sm-4 {
  max-width:100% !important;
}

body {
  background: 
    url(https://cdeboever3.github.io.s3.amazonaws.com/2013-03-23-13.40.20_reduced_size.jpg)
    no-repeat
    center
    center
    fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
