body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.col-sm-4{
  max-width:320px !important;
}

body {
  background: 
    url(http://cdeboever3.github.io.s3.amazonaws.com/2013-03-23%2011.01.22.jpg)
    no-repeat
    center
    center
    fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
